.error__cnt {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;
  text-align: center;
  @media #{$media-desktop} {
    padding: 10rem 40rem;
  }
}